@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --vfo0: Verdana, Geneva, Tahoma, sans-serif;
    --vfo1:'Passion One', cursive;
    --vfo2:'Sriracha', cursive;

}

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--vfo0);
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--vfo1);
    font-size: 10vw;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: 1s;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--vfo2);
    font-size: 4.5vw;
}
.normal{
    background-color: white;
}
.imagem{
    background-color: rgb(87, 87, 87);
    color: white;
}
.imagem p{
    background-color: rgba(0, 0, 0, 0.315);
    display: inline-block;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}